/* Contenedor principal de la página */
.forgot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos toda la altura de la pantalla */
  padding-top: 100px; /* Espacio superior para la barra de navegación */
  padding-bottom: 80px; /* Espacio inferior para el pie de página */
  box-sizing: border-box; /* Hace que el padding se incluya en el cálculo de la altura total */
}

/* Estilo del formulario */
.forgot-form {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.forgot-form h2 {
  margin: 0 0 0.5rem;
  text-align: center;
}

/* Párrafo informativo (opcional) */
.forgot-form__info {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #ccc;
}

.forgot-form label {
  font-size: 1rem;
  margin-bottom: -0.7rem; /* Reduce el espacio entre la etiqueta y el input */
  color: #ccc;
}

.forgot-form input {
  padding: 0.8rem;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #1a1a1a;
  color: #fff;
  font-size: 1rem;
}

.forgot-form button[type="submit"] {
  padding: 0.8rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #646cff;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  transition: background-color 0.2s;
  margin-top: 0.5rem; /* Añade un espacio extra antes del botón principal */
}

.forgot-form button[type="submit"]:hover {
  background-color: #535bf2;
}

/* Contenedor para el enlace de "Reenviar código" */
.forgot-form__resend {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: #aaa;
}

/* Botón de "Reenviar" que parece un enlace */
.forgot-form__resend button {
  background: none;
  border: none;
  color: #646cff;
  text-decoration: underline;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  padding: 0;
}

.forgot-form__resend button:hover {
  color: #8a90ff;
}

/* Estilo para mostrar el código de simulación */
.simulation-code-container {
  background-color: #1a1a1a00;
  color: #1744d5;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #1744d5;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1em;
}
