.landing .intro-text {
  margin-top: 2rem;
  text-align: center;
}

.landing-container {
  display: flex;               /* Flexbox horizontal */
  flex: 1;                     /* Ocupa todo el espacio entre la barra de navegacion y footer */
  margin: 20px 0;              
  gap: 20px;                   
  overflow: hidden; 
  background-color: rgba(0,0,0,0.6);
}

.landing-left,
.landing-right {
  flex: 1;                     
  display: flex;               
  justify-content: center;     
  align-items: center;  
  padding-left: 50px;       
}

.landing-left img {
  width: 100%;              
  height: 90%;             
  object-fit: contain;      /* muestra la imagen completa sin recortes */
}

.landing-right .intro-text {
  font-size: 2rem;           
  color: white;                
  text-align: center;          /* Centrado multilínea */
  padding-right: 50px;             
}

@media (max-width: 768px) {

  body.landing {
    overflow-y: auto;  /* reactiva scroll vertical */
  }

  .landing-container {
    flex-direction: column; 
    padding: 10px 0;        
    overflow: visible;      
    -webkit-overflow-scrolling: touch;
  }

  .landing-left,
  .landing-right {
    flex: none;    
    width: 100%;   
    padding-left: 0;
  }

  .landing-left img {
    width: 100%;       
    height: auto;      /* mantiene proporción */
    padding: 50px;
  }
}